
# Access dashDB and explore the data with Python

This notebook shows how to access a dashDB data warehouse or DB2 database when using Python. The examples use a dashDB warehouse, but the instructions apply to both dashDB and DB2.

<!--
![dashDB Logo](https://ibm.box.com/shared/static/42yt39czuksqdi278xpy96txtlw3lfmb.png)
![Python Logo](https://www.python.org/static/community_logos/python-logo-master-v3-TM-flattened.png)
-->

## Table of contents

1. [Setup](#Setup) 
1. [Import the *ibmdbpy* Python library](#Import-the-ibmdbpy-Python-library)
1. [Insert the database connection credentials](#Insert-the-database-connection-credentials)
1. [Create the database connection](#Create-the-database-connection)
1. [Use dataframe to read and manipulate tables](#Use-dataframe-to-read-and-manipulate-tables)
1. [Use SQL](#Use-SQL)
1. [Explore the trafficking data](#Explore-the-trafficking-data)
1. [Close the database connection](#Close-the-database-connection)
1. [Summary](#Summary)


## Setup

Before beginning you will need a *dashDB* instance. dashDB is a fully managed cloud data warehouse, purpose-built for analytics. It offers massively parallel processing (MPP) scale and compatibility with a wide range of business intelligence (BI) tools.  

[Try dashDB free of charge on IBM Bluemix.](https://console.ng.bluemix.net/catalog/services/dashdb)

<a class="ibm-tooltip" href="https://console.ng.bluemix.net/catalog/services/dashdb" target="_blank" title="" id="ibm-tooltip-0">
<img alt="IBM Bluemix.Get started now" height="193" width="153" src="https://ibm.box.com/shared/static/42yt39czuksqdi278xpy96txtlw3lfmb.png" >
</a>


## Import the *ibmdbpy* Python library

Python support for dashDB and DB2 is provided by the [ibmdbpy Python library](https://pypi.python.org/pypi/ibmdbpy). Connecting to dashDB or DB2 is also enabled by a DB2 driver, libdb2.so.

The JDBC Connection is based on a Java virtual machine. From the ibmdbpy library you can use JDBC to connect to a remote dashDB/DB2 instance. To be able to use JDBC to connect, we need to import the *JayDeBeApi* package.

To run a cell, click on the cell and click the run button in the toolbar or press __SHIFT-ENTER__.

Run the following commands to install and load the JayDeBeApi package and the ibmdbpy library into your notebook:

In [1]:
!pip install jaydebeapi --user  
!pip install ibmdbpy --user

Requirement already satisfied: jaydebeapi in /usr/local/src/bluemix_jupyter_bundle.v36/notebook/lib/python2.7/site-packages
Requirement already satisfied: JPype1 in /usr/local/src/bluemix_jupyter_bundle.v36/notebook/lib/python2.7/site-packages (from jaydebeapi)
Requirement already satisfied: ibmdbpy in /usr/local/src/bluemix_jupyter_bundle.v36/notebook/lib/python2.7/site-packages
Requirement already satisfied: future in /usr/local/src/bluemix_jupyter_bundle.v36/notebook/lib/python2.7/site-packages (from ibmdbpy)
Requirement already satisfied: pandas in /gpfs/global_fs01/sym_shared/YPProdSpark/user/s892-aaea0c0192b77b-e5a0cb4cecde/.local/lib/python2.7/site-packages (from ibmdbpy)
Requirement already satisfied: numpy in /gpfs/global_fs01/sym_shared/YPProdSpark/user/s892-aaea0c0192b77b-e5a0cb4cecde/.local/lib/python2.7/site-packages (from ibmdbpy)
Requirement already satisfied: pypyodbc in /usr/local/src/bluemix_jupyter_bundle.v36/notebook/lib/python2.7/site-packages (from ibmdbpy)
Requirement already satisfied: lazy in /usr/local/src/bluemix_jupyter_bundle.v36/notebook/lib/python2.7/site-packages (from ibmdbpy)
Requirement already satisfied: six in /usr/local/src/bluemix_jupyter_bundle.v36/notebook/lib/python2.7/site-packages (from ibmdbpy)
Requirement already satisfied: pytz>=2011k in /gpfs/global_fs01/sym_shared/YPProdSpark/user/s892-aaea0c0192b77b-e5a0cb4cecde/.local/lib/python2.7/site-packages (from pandas->ibmdbpy)
Requirement already satisfied: python-dateutil in /gpfs/global_fs01/sym_shared/YPProdSpark/user/s892-aaea0c0192b77b-e5a0cb4cecde/.local/lib/python2.7/site-packages (from pandas->ibmdbpy)
Requirement already satisfied: setuptools in /gpfs/global_fs01/sym_shared/YPProdSpark/user/s892-aaea0c0192b77b-e5a0cb4cecde/.local/lib/python2.7/site-packages (from pypyodbc->ibmdbpy)

In [2]:
import jaydebeapi
from ibmdbpy import IdaDataBase
from ibmdbpy import IdaDataFrame

In [3]:
import os
os.environ['CLASSPATH'] = "/usr/local/src/data-connectors-1.4.1/db2jcc4-10.5.0.6.jar"

In [4]:
import jpype
args='-Djava.class.path=%s' % os.environ['CLASSPATH']
jvm = jpype.getDefaultJVMPath()
jpype.startJVM(jvm, args)


## Insert the database connection credentials

Click on the cell below, then on the notebook toolbar, click the box of 1's and 0's, find your database connection and click the __Insert to code__ link under the connection name to have a `credentials_1` dictionary added to the notebook.

Connecting to dashDB requires the following information which are provided by the credentials dictionary inserted:
* Database name 
* Host DNS name or IP address 
* Host port
* Connection protocol
* User ID
* User password

The information `credentials_1` will be used to build a connection string in a subsequent step.

In [7]:
# The code was removed by DSX for sharing.
# @hidden_cell
credentials_1 = {
  'port':'50000',
  'db':'BLUDB',
  'username':'dash5560',
  'ssljdbcurl':'jdbc:db2://dashdb-entry-yp-dal09-07.services.dal.bluemix.net:50001/BLUDB:sslConnection=true;',
  'host':'dashdb-entry-yp-dal09-07.services.dal.bluemix.net',
  'https_url':'https://dashdb-entry-yp-dal09-07.services.dal.bluemix.net:8443',
  'dsn':'DATABASE=BLUDB;HOSTNAME=dashdb-entry-yp-dal09-07.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=dash5560;PWD=jdgI2wMNNmQX;',
  'hostname':'dashdb-entry-yp-dal09-07.services.dal.bluemix.net',
  'jdbcurl':'jdbc:db2://dashdb-entry-yp-dal09-07.services.dal.bluemix.net:50000/BLUDB',
  'ssldsn':'DATABASE=BLUDB;HOSTNAME=dashdb-entry-yp-dal09-07.services.dal.bluemix.net;PORT=50001;PROTOCOL=TCPIP;UID=dash5560;PWD=jdgI2wMNNmQX;Security=SSL;',
  'uri':'db2://dash5560:jdgI2wMNNmQX@dashdb-entry-yp-dal09-07.services.dal.bluemix.net:50000/BLUDB',
  'password':"""jdgI2wMNNmQX"""
}

## Create the database connection

The following code snippet creates a connection string `connection_string`
and uses the `connection_string` to create a database connection object:

In [8]:
connection_string = 'jdbc:db2://{hostname}:{port}/{db}:user={username};password={password};'.format(**credentials_1)
idadb = IdaDataBase(dsn=connection_string)

## Use dataframe to read and manipulate tables

You can now use the connection object `conn` to query the database:

In [9]:
df = idadb.show_tables(show_all = True)
df.head(10)

  TABSCHEMA             TABNAME     OWNER TYPE
0  DASH5560            DAY_TEST  DASH5560    T
1  DASH5560             GUSTAVG  DASH5560    T
2  DASH5560           INCIDENTS  DASH5560    T
3  DASH5560  INCIDENTS_OVERFLOW  DASH5560    T
4  DASH5560               PRECP  DASH5560    T
5  DASH5560               TEMPA  DASH5560    T
6  DASH5560               TEMPH  DASH5560    T
7  DASH5560               TEMPL  DASH5560    T
8  DASH5560          USSTATIONS  DASH5560    T
9  DASH5560        WEATHER_DATA  DASH5560    T

In [10]:
idadb.exists_table_or_view('GOSALESDW.EMP_EXPENSE_FACT')

True

Using our previously opened IdaDataBase instance named ‘idadb’, we can open one or several IdaDataFrame objects. They behave like pointers to remote tables.

Let us open the *EMP_EXPENSE_FACT* data set, assuming it is stored in the database under the name ‘GOSALESDW.EMP_EXPENSE_FACT’. The following cell assigns the dataset to a pandas DataFrame.

The [Pandas data analysis library](http://pandas.pydata.org/) provides high-performance, easy-to-use data structures and data analysis tools for the Python programming language. Pandas allows easy processing and manipulation of tabular data, so it is a perfect fit for data extracted from relational databases.

In [11]:
idadf = IdaDataFrame(idadb, 'GOSALESDW.EMP_EXPENSE_FACT')

You can very easily explore the data in the IdaDataFrame by using built in functions.

Use IdaDataFrame.head to get the first n records of your data set (default 5):

In [12]:
idadf.head()

,DAY_KEY,ORGANIZATION_KEY,POSITION_KEY,EMPLOYEE_KEY,EXPENSE_TYPE_KEY,ACCOUNT_KEY,EXPENSE_UNIT_QUANTITY,EXPENSE_TOTAL
0,20100131,11168,43639,4049,2103,8050,15.00,359.27
1,20100131,11187,43603,4960,2122,8054,0.11,1159.23
2,20100131,11187,43603,4960,2120,8052,0.08,843.08
3,20100131,11187,43603,4960,2131,8049,165.00,10538.46
4,20100131,11187,43603,4960,2124,8056,0.03,316.15

Use IdaDataFrame.tail to get the last n records of your data set (default 5):

In [13]:
idadf.tail(10)

,DAY_KEY,ORGANIZATION_KEY,POSITION_KEY,EMPLOYEE_KEY,EXPENSE_TYPE_KEY,ACCOUNT_KEY,EXPENSE_UNIT_QUANTITY,EXPENSE_TOTAL
127974,20130731,11203,43630,4275,2124,8056,0.03,75.66
127975,20130731,11199,43611,4503,2104,8050,22.50,537.59
127976,20130731,11199,43611,4503,2120,8052,0.08,315.38
127977,20130731,11199,43611,4503,2122,8054,0.11,433.65
127978,20130731,11199,43611,4503,2124,8056,0.03,118.27
127979,20130731,11199,43611,4503,2131,8049,142.50,3404.72
127980,20130731,11199,43612,4505,2120,8052,0.08,454.10
127981,20130731,11199,43612,4505,2122,8054,0.11,624.39
127982,20130731,11199,43612,4505,2124,8056,0.03,170.29
127983,20130731,11199,43612,4505,2131,8049,165.00,5676.28

__Note:__ Because dashDB operates on a distributed system, the order of rows using IdaDataFrame.head and IdaDataFrame.tail is not guaranteed unless the table is sorted (using an ‘ORDER BY’ clause) or a column is declared as index for the IdaDataFrame (parameter/attribute indexer).

IdaDataFrame also implements most attributes that are available in a pandas DataFrame, here is an example of getting the _shape_ of the data frame (rows, columns):

In [14]:
idadf.shape

(127984, 8)

In [15]:
idadf.columns

Index([u'DAY_KEY', u'ORGANIZATION_KEY', u'POSITION_KEY', u'EMPLOYEE_KEY',
       u'EXPENSE_TYPE_KEY', u'ACCOUNT_KEY', u'EXPENSE_UNIT_QUANTITY',
       u'EXPENSE_TOTAL'],
      dtype='object')

Several standard statistics functions from the pandas interface are also available for IdaDataFrame.  You can use the __TAB__ key after the `.` to see the methods and attributes available in an object in a pulldown menu. 

For example, let us calculate the covariance matrix for the data set by using the `cov` method for the IdaDataFrame instance:

In [16]:
# idadf.[Press TAB HERE]

idadf.cov()

,DAY_KEY,ORGANIZATION_KEY,POSITION_KEY,EMPLOYEE_KEY,EXPENSE_TYPE_KEY,ACCOUNT_KEY,EXPENSE_UNIT_QUANTITY,EXPENSE_TOTAL
DAY_KEY,1.074445e+08,-1301.774305,-2699.336397,-74463.200864,-2541.104007,-88.733494,-2747.250164,3.387493e+05
ORGANIZATION_KEY,-1.301774e+03,977.978493,-60.746262,2228.417559,-27.240468,0.756326,11.186590,-2.999219e+03
POSITION_KEY,-2.699336e+03,-60.746262,148.234472,-2070.934630,10.284910,-1.006254,-13.697657,1.101108e+03
EMPLOYEE_KEY,-7.446320e+04,2228.417559,-2070.934630,89393.601947,-237.530049,39.144365,525.387975,4.739903e+04
EXPENSE_TYPE_KEY,-2.541104e+03,-27.240468,10.284910,-237.530049,88.103306,4.663223,26.490807,5.577918e+03
ACCOUNT_KEY,-8.873349e+01,0.756326,-1.006254,39.144365,4.663223,6.414971,-92.920363,-2.669485e+03
EXPENSE_UNIT_QUANTITY,-2.747250e+03,11.186590,-13.697657,525.387975,26.490807,-92.920363,3331.325768,7.674054e+04
EXPENSE_TOTAL,3.387493e+05,-2999.218552,1101.107528,47399.031411,5577.918013,-2669.484571,76740.540006,4.321078e+06

__Note__: It is possible to subset the rows of an IdaDataFrame by accessing the IdaDataFrame with a slice object. You can also use the IdaDataFrame.loc attribute, which contains an ibmdbpy.Loc object. However, the row selection might be inaccurate if the current IdaDataFrame is not sorted or does not contain an indexer. This is due to the fact that dashDB stores the data across several nodes if available. Moreover, because dashDB is a column oriented database, row numbers are undefined:

In [17]:
idadf_new = idadf[0:9] # Select the first 10 rows
idadf_new.head(10)

/usr/local/src/bluemix_jupyter_bundle.v36/notebook/lib/python2.7/site-packages/ibmdbpy/indexing.py:118: UserWarning: Row order is not guaranteed if no indexer was given and the dataset was not sorted
  " was given and the dataset was not sorted")

,DAY_KEY,ORGANIZATION_KEY,POSITION_KEY,EMPLOYEE_KEY,EXPENSE_TYPE_KEY,ACCOUNT_KEY,EXPENSE_UNIT_QUANTITY,EXPENSE_TOTAL
0,20111231,11131,43613,4559,2120,8052,0.08,101.53
1,20111231,11131,43613,4559,2124,8056,0.03,38.07
2,20111231,11131,43613,4559,2122,8054,0.11,139.60
3,20120131,11131,43613,4559,2101,8049,165.00,1861.54
4,20120131,11131,43613,4559,2133,8050,18.75,1500.00
5,20120131,11131,43613,4559,2124,8056,0.03,61.91
6,20120131,11131,43613,4559,2122,8054,0.11,227.00
7,20120131,11131,43613,4559,2120,8052,0.08,165.09
8,20120131,11131,43613,4559,2114,8050,12.25,202.13
9,20120228,11131,43613,4559,2101,8049,150.00,1692.31

## Use SQL
We can also use SQL to get the top 10.

In [18]:
top_10_df = idadb.ida_query('SELECT * FROM GOSALESDW.EMP_EXPENSE_FACT LIMIT 10')
top_10_df

,DAY_KEY,ORGANIZATION_KEY,POSITION_KEY,EMPLOYEE_KEY,EXPENSE_TYPE_KEY,ACCOUNT_KEY,EXPENSE_UNIT_QUANTITY,EXPENSE_TOTAL
0,20111130,11103,43637,4010,2104,8050,15.000,208.33
1,20111130,11103,43637,4010,2120,8052,0.080,191.86
2,20111130,11103,43637,4010,2122,8054,0.110,263.81
3,20111130,11103,43637,4010,2124,8056,0.030,71.95
4,20111130,11103,43637,4010,2130,8050,0.005,106.59
5,20111130,11103,43637,4010,2131,8049,150.000,2083.34
6,20111130,11103,43637,4010,2133,8050,22.500,3000.00
7,20111130,11103,43637,4010,2137,8050,7.500,500.00
8,20111231,11103,43637,4010,2120,8052,0.080,363.73
9,20111231,11103,43637,4010,2122,8054,0.110,500.13

Find the top 10 employees (by id) by the number of transactions in the `GOSALESDW.EMP_EXPENSE_FACT` table.

In [19]:
idadb.ida_query('SELECT EMPLOYEE_KEY, COUNT(*) AS COUNT FROM GOSALESDW.EMP_EXPENSE_FACT GROUP BY EMPLOYEE_KEY ORDER BY COUNT DESC LIMIT 10')

   EMPLOYEE_KEY  COUNT
0          4112  263.0
1          4134  263.0
2          4135  261.0
3          4019  260.0
4          4368  260.0
5          4053  260.0
6          4016  260.0
7          4129  259.0
8          4480  259.0
9          4020  258.0

## Explore the trafficking data

In [20]:
# Create a variable called `trafficking_table` and set it to the name of the trafficking table in your dashDB instance, for example:
# trafficking_table = 'DASH1234.FEMALE_TRAFFICKING'

trafficking_table = # CODE HERE

idadb.exists_table_or_view(trafficking_table)

SyntaxError: invalid syntax (<ipython-input-20-6d59549b6657>, line 4)

<div class="panel-group" id="accordion-10">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-10" href="#collapse1-10">Hint 1</a></h4>
    </div>
    <div id="collapse1-10" class="panel-collapse collapse">
      <div class="panel-body">
      
The table schema and name can be found [here](#Use-dataframe-to-read-and-manipulate-tables).
      
      </div>
    </div>
  </div>
</div>

In [21]:
# Create an IdaDataFrame called trafficking_df with the trafficking data and determine the shape of the table using the `shape` atribute of the IdaDataFrame

trafficking_df = # CODE HERE

trafficking_df.shape

SyntaxError: invalid syntax (<ipython-input-21-3c5714554c2b>, line 3)

<div class="panel-group" id="accordion-11">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-11" href="#collapse1-11">Hint 1</a></h4>
    </div>
    <div id="collapse1-11" class="panel-collapse collapse">
      <div class="panel-body">
      
It's similar to the code:
<pre>
idadf = IdaDataFrame(idadb, 'GOSALESDW.EMP_EXPENSE_FACT')
</pre>
      
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-11" href="#collapse2-11">Solution</a></h4>
    </div>
    <div id="collapse2-11" class="panel-collapse collapse">
      <div class="panel-body">
<pre>
trafficking_df = IdaDataFrame(idadb, trafficking_table)
</pre>
      </div>
    </div>
  </div>
</div>

In [ ]:
# Show the top 5 records from the table using a method of the IdaDataFrame or alternatively via a SQL query using the ida_query method of the idadb instance

# CODE HERE

<div class="panel-group" id="accordion-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-12" href="#collapse1-12">Hint 1</a></h4>
    </div>
    <div id="collapse1-12" class="panel-collapse collapse">
      <div class="panel-body">
      
Heads or tails?
      
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-12" href="#collapse2-12">Solution 1</a></h4>
    </div>
    <div id="collapse2-12" class="panel-collapse collapse">
      <div class="panel-body">
      Heads!
<pre>
trafficking_df.head()
</pre> 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-12" href="#collapse3-12">Solution 2</a></h4>
    </div>
    <div id="collapse3-12" class="panel-collapse collapse">
      <div class="panel-body">
      SQL can work as well!
<pre>
idadb.ida_query('SELECT * FROM ' + trafficking_table + ' LIMIT 10')
</pre>
      </div>
    </div>
  </div>
</div>

In [ ]:
# Query the trafficking table so that we get the `vetting_level` and the number of times that `vetting_level` appears in the trafficking table ordered by the vetting_level

# CODE HERE


<div class="panel-group" id="accordion-13">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-13" href="#collapse1-13">Hint 1</a></h4>
    </div>
    <div id="collapse1-13" class="panel-collapse collapse">
      <div class="panel-body">
      
It is similar to:

<pre>
idadb.ida_query('SELECT EMPLOYEE_KEY, COUNT(*) AS COUNT FROM GOSALESDW.EMP_EXPENSE_FACT GROUP BY EMPLOYEE_KEY ORDER BY COUNT DESC LIMIT 10')
</pre>
      
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-13" href="#collapse2-13">Hint 2</a></h4>
    </div>
    <div id="collapse2-13" class="panel-collapse collapse">
      <div class="panel-body">
      
The SQL query is:

<pre>
'SELECT VETTING_LEVEL, COUNT(*) AS COUNT FROM ' + trafficking_table + ' GROUP BY VETTING_LEVEL ORDER BY VETTING_LEVEL'
</pre>
      
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-13" href="#collapse3-13">Solution</a></h4>
    </div>
    <div id="collapse3-13" class="panel-collapse collapse">
      <div class="panel-body">
      
<pre>
idadb.ida_query('SELECT VETTING_LEVEL, COUNT(*) AS COUNT FROM ' + trafficking_table + ' GROUP BY VETTING_LEVEL ORDER BY VETTING_LEVEL')
</pre>

      </div>
    </div>
  </div>
</div>

## Close the database connection

To ensure expected behaviors, IdaDataBase instances need to be closed. Closing the *IdaDataBase* is equivalent to closing the connection: once the connection is closed, it is no longer possible to use the *IdaDataBase* instance and any *IdaDataFrame* instances that were opened on this connection.

In [ ]:
idadb.close()

## Summary

This notebook demonstrated how to establish a JDBC connection to a dashDB (or DB2) database from Python, work with data frames and explore the data using SQL and data frame object attributes and methods.

## Take it farther
### Free courses on <a href="https://bigdatauniversity.com/courses/?utm_source=tutorial-dashdb-python&utm_medium=github&utm_campaign=bdu/" rel="noopener noreferrer" target="_blank">Big Data University</a>: <a href="https://bigdatauniversity.com/courses/?utm_source=tutorial-dashdb-python&utm_medium=github&utm_campaign=bdu" rel="noopener noreferrer" target="_blank"><img src = "https://ibm.box.com/shared/static/xomeu7dacwufkoawbg3owc8wzuezltn6.png" width=600px> </a>